<h1>Editing category {{category.name}}</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
        <form novalidate name="categoryeditform" class="form" ng-submit="categoryeditform.$valid && categoryeditform.submit()">
            Name <input class="form-control" ng-model="category.name" required name="category.name">
            <br>
            <input ng-click="submit(category.name)" class="form-control btn btn-primary" type="submit" value="Save changes">
        </form>
    </div>
  </div>
</div>
