<h1>Menus</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      <br>
      <br>
      <a href="#/menus/add" class="btn btn-primary">Add new menu</a>

  </div>
  <div class="col-md-10">
      <!--Body content-->

      <ul class="menus">
        <li ng-repeat="menu in menus" class="thumbnail">
          <a href="#/menus/{{menu.id}}">{{menu.name}}</a>
      </li>
      <li ng-hide="menus.length">No menus, <a href="#/menus/add">Add one</a>?</li>
  </ul>

</div>
</div>
</div>
